<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
     <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
   <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />

</head>
<body>
    <header>


        <div class="container hidden">
            <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" aria-current="page" asp-controller="Students" asp-action="GetStudents">Students</a>
                    <button class="navbar-toggler  text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                            <li class="nav-item">
                                <a class="nav-link" asp-controller="SchoolAffairs" asp-action="GetAllBooks">Books</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="SchoolAffairs" asp-action="Createbook">New Book</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Students" asp-action="AllRequiremntsPayments">Paid Requirements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Students" asp-route-id="0" asp-action="NewSchoolRequirement">New Requirement</a>
                            </li>
                            <li class="nav-item hidden">
                                <a class="nav-link" asp-controller="Students" asp-action="AllFeesPayments">Fees Payment</a>

                            </li>
                            <li class="nav-item hidden">
                                <a class="nav-link" asp-controller="Students" asp-action="AllGuardian">Parents</a>


                            </li>
                            <li class="nav-item hidden">
                                <a class="nav-link" asp-controller="Staffs" asp-action="Create">New Staff</a>

                            </li>
                            <li class="nav-item hidden">
                                <a class="nav-link" asp-controller="Students" asp-action="CreateStudent">New Student</a>

                            </li>
                            <li class="nav-item hidden">
                                <a class="nav-link" asp-controller="Students" asp-route-id="0" asp-action="AddUniform">New Uniform</a>

                            </li>
                            <li class="nav-item hidden">
                                <a class="nav-link" asp-controller="Students" asp-action="GetAllPaidUniforms">Paid Uniforms</a>

                            </li>
                            <li class="nav-item hidden">
                                <a class="nav-link" asp-controller="Staffs" asp-action="GetAllWages">Staff Wages</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="SchoolAffairs" asp-action="GetNotices">Notices</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="SchoolAffairs" asp-action="GetAssets">Assets</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="SchoolAffairs" asp-route-id="0" asp-action="CreateAsset">New Asset</a>

                            </li>
                            <li class="nav-item hidden">
                                <a class="nav-link" asp-controller="SchoolAffairs" asp-action="GetExpenses">Expense</a>

                            </li>
                            <li class="nav-item hidden">
                                <a class="nav-link" asp-controller="SchoolAffairs" asp-action="CreateExpense">New Expense</a>

                            </li>
                            <li class="nav-item hidden">
                                <a class="nav-link" asp-controller="SchoolAffairs" asp-route-id="0" asp-action="CreateNotice">New Notice</a>

                            </li>
                            <li class="nav-item hidden">
                                <a class="nav-link" asp-controller="Students" asp-action="AllRequiremntsPayments">Paid Requirements</a>

                            </li>
                            <li class="nav-item hidden">
                                <a class="nav-link" class=" text-white  bg-orange-600 px-4 rounded  " asp-controller="Academic" asp-action="GetAllCourse">Subjects</a>
                            </li>
                            <li class="nav-item hidden">
                                <a class=" text-white  bg-orange-600 px-4 rounded  " asp-controller="Academic" asp-action="CreateCourse">New Subject</a>

                            </li>

                        </ul>


                    </div>
                </div>
            </nav>
        </div>


        <!-- _InnerLayout.cshtml -->
        @{
            Layout = "_NavBar";
        }

    </header>
    <div class="">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
