<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
@*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
 *@  
 <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <header>
      
            <div class=" px-4  bg-teal-950">          
                <div class="flex w-[80%] justify-between text-yellow-500 text-[10px] md:text[19px] ">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>

                    <a asp-controller="Students" asp-action="CreateStudent">New Student</a>
                    <a asp-controller="Students" asp-action="GetStudents">Students</a>
                    <a asp-controller="Staffs" asp-action="Create">New Staff</a>
                <a asp-controller="Staffs" asp-action="GetAllStaff">Staffs</a>
                <a asp-controller="Students" asp-action="AllGuardian">Parents</a>
                <a asp-controller="Students" asp-action="NewSchoolRequirement">New Requirement</a>

                <a asp-controller="Students" asp-action="AllFeesPayments">Fees Payment</a>



                    <a asp-controller="SchoolAffairs" asp-action="Createbook">New Book</a>
                    <a asp-controller="SchoolAffairs" asp-action="GetAllBooks">Books</a>

                    </div>
                </div>
            </div>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
