<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
     <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
   <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />

</head>
<body>
    <header class="w-full">

        <div class="navbar bg-cyan-950">
            <a class="navbar-brand     ml-9" aria-current="page" asp-controller="Students" asp-action="CreateStudent"> Add Student</a>
            <div id="header" class="header">
                <div class="dropdown" data-dropdown>
                    <button data-dropdown-button class="link ">
                        Students                      
                    </button>
                    <div class="dropdown-menu">

                        <ul class=" ">
                            <li class="nav-item">
                                <a class="navbar-brand" aria-current="page" asp-controller="Students" asp-action="GetStudents">Students</a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link" asp-controller="Students" asp-action="CreateStudent">New Student</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Students" asp-action="AllRequiremntsPayments">Paid Requirements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Students" asp-route-id="0" asp-action="NewSchoolRequirement">New Requirement</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" asp-controller="Students" asp-action="AllFeesPayments">Fees Payment</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Students" asp-action="AllGuardian">Parents</a>
                            </li>
                        </ul>

                    </div>

                </div>
                <div class="dropdown" data-dropdown>
                    <button data-dropdown-button class="link">
                        Staff
                                          </button>
                    <div class="dropdown-menu">
                        <ul class=" ">


                            <li class="nav-item ">
                                <a class="nav-link" asp-controller="Staffs" asp-action="GetAllStaff">Staff Members</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" asp-controller="Staffs" asp-action="Create">New Staff</a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link" asp-controller="Staffs" asp-action="GetAllWages">Staff Wages</a>

                            </li>

                        </ul>
                    </div>

                </div>

                <div class="dropdown" data-dropdown>
                    <button data-dropdown-button class="link">
                        School               
                                           </button>
                    <div class="dropdown-menu">
                        <ul class=" ">

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Students" asp-action="AllGuardian">Parents</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="SchoolAffairs" asp-action="GetAllBooks">Books</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link" asp-controller="SchoolAffairs" asp-action="Createbook">New Book</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="SchoolAffairs" asp-action="GetNotices">Notices</a>

                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="SchoolAffairs" asp-route-id="0" asp-action="CreateNotice">New Notice</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="SchoolAffairs" asp-action="GetAssets">Assets</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="SchoolAffairs" asp-route-id="0" asp-action="CreateAsset">New Asset</a>

                            </li>
                        </ul>

                    </div>

                </div>
                <div class="dropdown" data-dropdown>
                    <button data-dropdown-button class="link">
                        Academics                                          </button>
                    <div class="dropdown-menu">
                        <ul class=" ">
                            <li class="nav-item ">
                                <a class="nav-link" class=" text-white  bg-orange-600 px-4 rounded  " asp-controller="Academic" asp-action="GetAllCourse">Subjects</a>
                            </li>
                            <li class="nav-item">
                                <a class=" text-white  bg-orange-600 px-4 rounded  " asp-controller="Academic" asp-action="CreateCourse">New Subject</a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="dropdown" data-dropdown>
                    <button data-dropdown-button class="link">
                        Ledgers             
                      
                    </button>
                    <div class="dropdown-menu">
                        <ul class=" ">
                            <li class="nav-item ">
                                <a class="nav-link" asp-controller="Students" asp-route-id="0" asp-action="AddUniform">New Uniform</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Students" asp-route-id="0" asp-action="NewSchoolRequirement">Add Requirement</a>
                            </li>
                            <li class="nav-item hidden">
                                <a class="nav-link" asp-controller="Students" asp-action="GetAllPaidUniforms"> Uniforms</a>

                            </li>


                            <li class="nav-item">
                                <a class="nav-link" asp-controller="SchoolAffairs" asp-action="GetExpenses">Expense</a>

                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" asp-controller="SchoolAffairs" asp-action="CreateExpense">New Expense</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Students" asp-action="AllRequiremntsPayments">Requirements</a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link" asp-controller="Students" asp-action="AllFeesPayments">Fees Payment</a>

                            </li>

                        </ul>
                    </div>

                </div>




            </div>


            <button onclick="toggleHeader()" id="bars" class="bars">
                <heroicon class="ml-2 -mr-0.5 h-6 w-6 " kind="Solid" name="Bars4" />
            </button>

        </div>
       

    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
