<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
@*     <title>@ViewData["Title"] </title>

 *@   
 
    <title> Welcome to Victors Nest Christian School </title>
    <meta name="description" content="The best School to shapr the future of your child" />


<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
   <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
   <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />

</head>
<body>


    <partial name="_LoginPartial" />


    <header class="w-full">


        @{
            // Access the currently logged-in user
            var user = Context.User;

            // Check if the user is authenticated
            if (user.Identity.IsAuthenticated)
            {

                <partial name="_MenuPartial" />




                // You can access other user properties or claims as well
            }
           
        }
           </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
