@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="flex justify-between font-sans  bg-zinc-900 py-2 w-full text-yellow-500  font-bold  px-11   sm:text-[0.81em]   text-[0.61em]">
    @if (SignInManager.IsSignedIn(User))
    {
        var logged_user = Context.User;

        <li class="login_li">
            <a class="mx-4 " asp-controller="Home" asp-action="Index"
               title="Welcome">Welcome: <span class="px-2  text-yellow-500">@User.Identity.Name!</span></a>

            <a class="px-3 " asp-controller="Home" asp-action="Index"
               title="Welcome"> Role:     <span class="px-2  text-yellow-500">@logged_user.FindFirst(ClaimTypes.Role)?.Value</span>  </a>
        </li>     
      
        <li class="nav-item">
            <form class="text-white  hover:bg-green-800  bg-orange-600 py-1 px-2  rounded" asp-controller="Login" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link text-info">Logout</button>
            </form>
        </li>
        var user_role = @logged_user.FindFirst(ClaimTypes.Role)?.Value.ToUpper();
        if (user_role == "DIRECTOR")
        {
            <li class="login_li">
                <a class="text-white  hover:bg-green-800  bg-orange-600 px-2 py-1 rounded " asp-controller="Login"
                   asp-action="Register">Register User</a>
            </li>

        }
       
    }
    else 
    {      
        <li class="uppercase">You are not logged in</li>
        <li class="login_li">
            <a class="text-white  hover:bg-green-800  bg-orange-600 py-1 px-2  rounded " asp-controller="Login"
               asp-action="Login">Login</a></li>       

     
    }
   
</ul>












@* <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Login"
           asp-action="Register">Register here</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Login"
           asp-action="Login">Login</a>
    </li>
</ul>  *@