<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    <title> Welcome to Victors Nest Christian School </title>
    <meta name="description" content="The best School to shape the future of your child" />
</head>
<body>

    <div class="container bg-teal-900">

        <partial name="_LoginPartial" />
        @RenderBody()
    </div>

    <script>
        document.getElementById('js-navbar-toggle').addEventListener('click', function () {
            var menu = document.getElementById('js-menu');
            menu.classList.toggle('active');
        });
    </script>
</body>
</html>