<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar">
        <a class="nav-link" asp-controller="SchoolAffairs" asp-action="Createbook">HOME</a>

     
            
            <button onclick="showCross()" id="bars">
            <heroicon class="ml-2 -mr-0.5 h-4 w-4  show_bars " kind="Solid" name="Bars4" />
        </button>
   <div class="header">


            <div class="dropdown" data-dropdown>
                <button  data-dropdown-button class="link">Students</button>
           <div class="dropdown-menu">
                    <ul class=" ">
                        <li class="nav-item">
                            <a class="navbar-brand" aria-current="page" asp-controller="Students" asp-action="GetStudents">Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Students" asp-action="AllRequiremntsPayments">Paid Requirements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Students" asp-route-id="0" asp-action="NewSchoolRequirement">New Requirement</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Students" asp-action="AllFeesPayments">Fees Payment</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Students" asp-action="AllGuardian">Parents</a>
                        </li>
                    </ul>

                </div>

       </div>
            <div class="dropdown" data-dropdown>
                <button data-dropdown-button class="link">Staff</button>
                <div class="dropdown-menu">
                    <ul class=" ">


                        <li class="nav-item hidden">
                            <a class="nav-link" asp-controller="Staffs" asp-action="Create">New Staff</a>

                        </li>


                        <li class="nav-item">
                            <a class="nav-link" asp-controller="SchoolAffairs" asp-action="Createbook">New Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Students" asp-action="AllRequiremntsPayments">Paid Requirements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Students" asp-route-id="0" asp-action="NewSchoolRequirement">New Requirement</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Students" asp-action="AllFeesPayments">Fees Payment</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Students" asp-action="AllGuardian">Parents</a>


                        </li>
                    </ul>
                </div>

            </div>

            <div class="dropdown" data-dropdown>
                <button data-dropdown-button class="link">School</button>
                <div class="dropdown-menu">
                    <ul class=" ">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Students" asp-action="AllGuardian">Parents</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="SchoolAffairs" asp-action="GetAllBooks">Books</a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link" asp-controller="SchoolAffairs" asp-action="Createbook">New Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Students" asp-route-id="0" asp-action="NewSchoolRequirement">Add Requirement</a>
                        </li>
                     
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Students" asp-route-id="0" asp-action="NewSchoolRequirement">New Requirement</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Students" asp-action="AllFeesPayments">Fees Payment</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Students" asp-action="AllGuardian">Parents</a>


                        </li>
                    </ul>

                </div>

            </div>


            <div class="dropdown" data-dropdown>
                <button data-dropdown-button class="link">Ledgers</button>
                <div class="dropdown-menu">
                    <ul class=" ">
                        
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Students" asp-action="AllRequiremntsPayments">Requirements</a>
                        </li>
                       
                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Students" asp-action="AllFeesPayments">Fees Payment</a>

                        </li>
                   
                    </ul>
                </div>

            </div>




        </div>
        <ul class="main-nav  hidden " >
            <li class="nav-item">
                <a class="nav-link" asp-controller="SchoolAffairs" asp-action="Createbook">New Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Students" asp-action="AllRequiremntsPayments">Paid Requirements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Students" asp-route-id="0" asp-action="NewSchoolRequirement">New Requirement</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" asp-controller="Students" asp-action="AllFeesPayments">Fees Payment</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Students" asp-action="AllGuardian">Parents</a>


            </li>
        </ul>
    </div>

    <button onclick="noe()">set color</button>
    <div class="container">
        @RenderBody()
    </div>

    <script>
        document.getElementById('js-navbar-toggle').addEventListener('click', function () {
            var menu = document.getElementById('js-menu');
            menu.classList.toggle('active');
        });
    </script>
</body>
</html>