@model StudentJoinUniform


@{
    ViewData["Title"] = "new uniform";
}

      <div class="flex   justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500    px-4  m-auto  sm:text-[0.81em]   text-[0.61em] 
 text-center  " >
    <a class=" text-white  bg-orange-600 px-4 rounded  " asp-controller="Students" asp-action="GetStudents">Students</a>

        <h4 class=" "> UINFORM CREATION FORM</h4>      

    <a class=" text-white  bg-orange-600 px-4 rounded  " asp-controller="Students" asp-action="GetStudents"> UNIFORMS</a>


      </div>

      <div class="w-[70%] sm:w-[20rem] m-auto mt-7 requirement_form">
    <form method="post" action="AddUniform">

          <div class="mb-1">             
            <label asp-for="uniform.Item"  class=" text-[0.97em]  ml-2 block">Item</label>
            <input  required
             asp-for="uniform.Item"
              class=" w-full  text:[0.48em] sm:text-[1.23em] py-3 text-center"
              type="text"
            />
          </div>
          <div class="mb-1">
            <label asp-for="uniform.AcademicLevel" class=" text-[0.97em]  ml-2 block">
              Academic Level
            </label>
            <select
              required
                    asp-for="uniform.AcademicLevel"            
              class="  w-full text-center "   >
              <option value="">select</option>
              <option>Kindergarten</option>
              <option>Lower Primary</option>
              <option>Upper Primary</option>
              <option>High School</option>
            </select>
          </div>
          <div class="mb-2">
            <label asp-for="uniform.Cost" class=" text-[0.97em]  ml-2 block">Cost</label>
            <input
              required
                   asp-for="uniform.Cost"
                   type="number"
              placeholder="charge"
              class=" w-full  text:[0.48em] sm:text-[1.23em] py-3 text-center"
            />
          </div>

        <div class="mt-6 text-white    w-full m-auto submit
    text-center  bg-green-700 rounded hover:bg-indigo-800">
            <input class="uppercase text-yellow-100  w-[55%]"
                   type="submit" />
        </div>
        </form>
        @if(Model.uniforms.Count==0){
            <p>No Uniform</p>
        } else{

        <table class="w-[70%] sm:w-[20rem] mt-7 m-auto text-black ">
        <thead>
            <tr class=" ">
                <th>ID</th>
                <th>Item</th>
                <th>Designation</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>          
                @foreach (var data in Model.uniforms)
                {
                <tr >
                    <td>@data.UniformId</td>

                <td>@data.Item </td>
                <td>@data.AcademicLevel</td>
                <td>     @data.Cost   <span>/=</span>
                </td>

            </tr>
            }
        </tbody>
    </table>
    }


      </div>