@{
    ViewData["Title"] = "Create student";
}

@model Student
<div class="flex justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500  font-semibold  px-11   sm:text-[0.81em]   text-[0.61em]
 text-center sm:mb-5 lg:mb-6 ">
    <h4 class=" "> NEW STUDENT INFORMATION</h4>
    <a class=" text-white  bg-orange-600 px-4 rounded  " asp-controller="Students" asp-action="GetStudents">Students</a>
</div>
<div class="w-[90%] m-auto  mt-4 requirement_form">

<form method="post" action="CreateStudent" >

        <div asp-validation-summary="All" class="text-red-700 text-[0.6em] font-semibold list-disc"></div>

    <div class="flex sm:flex-row flex-col  w-[90%] md:w-[90%] gap-6 flex-auto flex-grow-1 m-auto">
        <div class="sm:w-[45%]">
                <div class="mb-1 form-group">
                    <label asp-for="FirstName" class="font-semibold  ml-2 block required_label">First Name</label>
                <input required
                       asp-for="FirstName"
                       class=" w-full text-center"
                       type="text" />
                                           <span asp-validation-for="FirstName" class="text-red-700"></span>

            </div>
                <div class="mb-1 form-group">
                    <label asp-for="LastName" class="font-semibold  ml-2 block required_label">Last Name</label>
                <input required
                       asp-for="LastName"
                       class=" w-full text-center"
                       type="text" />
                                           <span asp-validation-for="LastName" class="text-red-700"></span>

            </div>

            <div class="flex justify-between gap-2  w-full">
                <div class="mb-1 w-[80%]">
                        <label asp-for="Gender" class="font-semibold ml-2 block required_label">Gender</label>
                    <select required
                            asp-for="Gender"
                            class=" w-full text-center ">
                        <option value="">select</option>
                        <option>Male</option>

                        <option>Female</option>
                    </select>
                </div>
                <div class="mb-2  justify-self-end w-[50%] ">
                        <label asp-for="Birthdate" class="text-slate-800  block ">Birth Date</label>
                    <input required
                           asp-for="Birthdate"
                           type="date"
                           class="  w-full  text-center" />
                </div>
            </div>

            <div class="flex justify-between gap-2 w-full">
                <div class="mb-1 w-[80%]">
                        <label asp-for="Contact" class="font-semibold ml-2 block  required_label"> Contact</label>
                    <input required
                           asp-for="Contact"
                           class=" w-full text-center "
                           type="number" />
                                               <span asp-validation-for="Contact" class="text-red-700"></span>

                </div>

                <div class="mb-2  justify-self-end w-[50%] ">
                        <label asp-for="Status" class="font-semibold ml-2 block required_label">Status</label>
                    <select required
                            asp-for="Status"
                            class=" w-full text-center ">
                        <option value="">select</option>
                        <option>Active</option>
                        <option>Former</option>
                    </select>
                                        <span asp-validation-for="Status" class="text-red-700"></span>

                </div>
            </div>

            <div class="flex justify-between gap-2 w-full">
                <div class="mb-1 w-[80%]">
                        <label asp-for="Grade" class="font-semibold  ml-2 block  required_label">Class</label>

                    <select required
                            asp-for="Grade"
                            class="  w-full text-center ">
                        <option value="">select</option>
                        <option>Day Care</option>
                            <option>Kindergaten</option>
                        <option>Grade One</option>
                        <option>Grade Two</option>
                        <option>Grade Three</option>
                        <option>Grade Four</option>
                        <option>Grade Five</option>
                        <option>Grade Six</option>
                    </select>
                                        <span asp-validation-for="Grade" class="text-red-700"></span>

                </div>
                <div class="mb-2  justify-self-end w-[50%] ">
                        <label asp-for="Stream" class="font-semibold  ml-2 block required_label">Stream</label>

                    <select required
                            asp-for="Stream"
                            class=" w-full text-center ">
                          <option value="">select</option>
                            <option>Isaac Newton</option>
                            <option>Robert Boyle</option>
                            <option>Max Planck</option>
                    </select>
                                        <span asp-validation-for="Stream" class="text-red-700"></span>

                </div>
            </div>
            <div class="flex justify-between gap-2 w-full">
                <div class="mb-1 w-[80%]">
                        <label asp-for="Section" class="font-semibold ml-2 block  required_label">Section</label>
                    <select required
                            asp-for="Section"
                            class=" w-full text-center">
                        <option value="">select</option>
                        <option>Kindergarten</option>
                        <option>Lower Primary</option>
                        <option>Upper Primary</option>
                        <option>High School</option>
                    </select>
                                        <span asp-validation-for="Section" class="text-red-700"></span>

                </div>
                <div class="mb-2  justify-self-end w-[50%] ">
                        <label asp-for="Term" class="font-semibold  ml-2 block  required_label">Term</label>

                    <select required
                            asp-for="Term"
                            class=" w-full text-center ">
                        <option value="">select</option>
                        <option>Term One</option>
                        <option>Term Two</option>
                        <option>Term Three</option>
                    </select>
                                        <span asp-validation-for="Term" class="text-red-700"></span>

                </div>
            </div>
   
        </div>
        <div class="sm:w-[45%]">
            <div class="mb-1">
                    <label asp-for="Nationality" class="font-semibold ml-2 block  required_label">Nationality</label>
                <input required
                       asp-for="Nationality"
                       class=" w-full text-center " />
                                           <span asp-validation-for="Nationality" class="text-red-700"></span>

            </div>
            <div class="mb-1">
                    <label asp-for="District" class="font-semibold ml-2 block  required_label">

                    District Of Residence
                </label>
                <input required
                       asp-for="District"
                       class=" w-full text-center"
                       type="text" />
                                           <span asp-validation-for="District" class="text-red-700"></span>

            </div>

            <div class="mb-2">
                    <label asp-for="Village" class="font-semibold ml-2 block required_label ">Village</label>
                <input required
                       asp-for="Village"
                       class=" w-full text-center "
                       type="text" />
                                           <span asp-validation-for="Village" class="text-red-700"></span>

            </div>
            <div class="mb-2">
                    <label asp-for="Religion" class="font-semibold ml-2 block required_label ">Religion</label>
                <input asp-for="Religion"
                       class=" w-full text-center "
                       type="text" />
                    <span asp-validation-for="Religion" class="text-red-700"></span>

            </div>
            <div class="flex justify-between gap-2 w-full">
                <div class="mb-1 w-[80%]">
                    <label asp-for="SchoolFees" class="font-semibold ml-2 block required_label">School Fees</label>
                    <input required
                           asp-for="SchoolFees"
                           type="number"
                           class=" w-full text-center " />
                        <span asp-validation-for="SchoolFees" class="text-red-700"></span>

                </div>

                <div class="mb-1 w-[30%]">
                    <label asp-for="fullUniform" class="font-semibold ml-2 block">Uniform</label>
                    <input   onclick="payUniform()" type="checkbox"
                           asp-for="fullUniform"
                           class=" m-auto ml-7 w-[20%] text-sm text-center " />
                </div>
            </div>

           <div id="uniform-amount" class="mb-2  setUniform">
                <label asp-for= "charge" class = "font-semibold ml-2 block  " >
                    Uniform Charge
                    </label >
                    <input type = "number"
                    asp-for= "fullUniform" />               
                </div> 

            <div class="mt-3 sm:mt-7 text-white   font-semibold w-full m-auto submit
    text-center  bg-green-700 rounded hover:bg-slate-700">
                <input class="  px-4 uppercase text-yellow-100  w-[30%]"
                       type="submit" />
            </div>
        </div>
    </div>



</form>

                    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}