@{
    ViewData["Title"] = "create parent";
}
@model StudentJoinGuardian



      <div
        class="flex   justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500  font-semibold  px-4  m-auto  sm:text-[0.81em]   text-[0.61em] 
 text-center  "
      >
    <a class=" text-white  bg-orange-600 px-2 rounded  "
       asp-controller="Students" asp-action="GetStudents">Students</a>       

        <h4 class=" "> NEW PARENT INFORMATION</h4>

    <a class=" text-white  bg-orange-600 px-2 rounded  "
       asp-controller="Students" asp-action="GetStudents">Parents</a>
      </div>

<div class=" mt-7 mx-auto w-[70%] ">
    <form method="post" action="CreateGuardian" class="h-25  row">
        <div asp-validation-summary="All" class="text-red-700 text-[0.6em] font-semibold list-disc"></div>


          <div class="flex  w-full gap-6 flex-auto flex-grow-1 m-auto">
            <div class="sm:w-[45%]">
              <div class="mb-1">
                    <label asp-for="Guardian.FirstName" class="font-semibold ml-2 block  required_label">First Name</label>
                <input
                    asp-for="Guardian.FirstName"
                  required                
                  class=" sm:w-full text-center"
                  type="text"
                />
                                    <span asp-validation-for="Guardian.FirstName" class="text-red-700"></span>

              </div>
              <input hidden  asp-for="Student.StudentId"/>
              <div class="mb-1">
                    <label asp-for="Guardian.LastName" class="font-semibold  ml-2 block  required_label">Last Name</label>
                <input
                  required
               asp-for="Guardian.LastName" 
                  class=" w-full text-center"
                  type="text"
                />
                                    <span asp-validation-for="Guardian.LastName" class="text-red-700"></span>

              </div>

              <div class="mb-2">
                    <label asp-for="Guardian.Village" class="font-semibold ml-2 block  required_label">Village</label>
                <input
                  required
            asp-for="Guardian.Village" 
               
                  class=" w-full text-center "
                  type="text"
                />
                                    <span asp-validation-for="Guardian.Village" class="text-red-700"></span>

              </div>
              <div class="mb-2">
                    <label asp-for="Guardian.District" class="font-semibold ml-2 block  required_label">
                
                   District
                </label>
                <input
                  required
            asp-for="Guardian.District" 
                  class=" w-full text-center "
                  type="text"
                />
                                    <span asp-validation-for="Guardian.District" class="text-red-700"></span>

              </div>
            </div>
            <div class="sm:w-[45%]">
              <div class="mb-1">
                    <label asp-for="Guardian.Relationship" class="font-semibold ml-2 block  required_label">Relationship</label>
                <select
                  required
               asp-for="Guardian.Relationship" 
                  class=" w-full text-center "
                >
                  <option value="">select</option>
                  <option>Mother</option>
                  <option>Father</option>
                  <option>Relative</option>
                  <option>Brother</option>
                  <option>Sister</option>
                  <option>Guardian</option>
                  <option>Next of kin</option>
                  <option> Friend</option>
                </select>
                                    <span asp-validation-for="Guardian.Relationship" class="text-red-700"></span>

              </div>

              <div class="mb-1  ">
                    <label asp-for="Guardian.Contact" class="font-semibold ml-2 block  required_label"> Contact</label>
                <input
                  required
                asp-for="Guardian.Contact" 
                  class=" w-full text-center "
                  type="text"
                />
                                    <span asp-validation-for="Guardian.Contact" class="text-red-700"></span>

              </div>

              <div class="mb-2">
                <label  asp-for="Guardian.Email"  class="font-semibold ml-2 block  required_label">Email</label>
                <input
                  required
                  asp-for="Guardian.Email" 
                  type="email"
                  class="w-full text-center "
                />
              </div>

              <div class="mb-2">
                    <label asp-for="Guardian.PlaceofOrigin" class="font-semibold ml-2 block  required_label"> Place of Origin</label>
                <input
                asp-for="Guardian.PlaceofOrigin" 
                  class=" w-full text-center "
                  type="text"
                />
                    <span asp-validation-for="Guardian.PlaceofOrigin" class="text-red-700"></span>

              </div>
            </div>
          </div>

          <div
            class="mt-3 text-white   font-semibold  w-[50%] mx-auto  submit
    text-center  bg-green-700 rounded hover:bg-slate-700"
          >
            <input
              class="uppercase text-yellow-100  w-[60%] md:w-[20%] "
              type="submit"
            />
          </div>
        </form>
      </div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}