
@model StudentJoinRequirement


@{
    ViewData["Title"] = "school requiremenet payment";
}
<div class="flex justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500    px-11   sm:text-[0.81em]   text-[0.61em]
 text-center ">

    <a class=" text-white  bg-orange-600 px-4 rounded  " asp-controller="Students" asp-action="CreateStudent">New Student</a>

    <h4 class=" ">  SCHOOL REQUIREMENT PAYMENT FORM</h4>
    <a class=" text-white  bg-orange-600 px-4 rounded  " asp-controller="Students" asp-action="GetStudents">Students</a>
</div>

<div id="requirement-form-id" class="w-[90%] m-auto  mt-4 requirement_form">
    <form method="post" action="PayRequirement" class="h-25  row">
        <div class="flex  flex-col sm:flex-row  w-[70%] gap-6 flex-auto flex-grow-1 m-auto">
            <div class="sm:w-[45%]">
                <div class="mb-1">
                    <label asp-for="Student.FirstName" class=" ml-2 block">First Name</label>
                    <input asp-for="Student.FirstName"
                           class="bg-sky-100 w-full text-center"
                           type="text"
                           disabled />
                </div>
                <input hidden asp-for="Student.StudentId" />




                <div class="mb-1">
                    <label asp-for="Student.LastName" class="  ml-2 block">Last Name</label>
                    <input disabled
                           asp-for="Student.LastName"
                           class="bg-sky-100 w-full text-center"
                           type="text" />
                </div>
                <div class="mb-2  ">
                    <label class=" ml-2 block"> Class</label>
                    <input disabled
                           asp-for="Student.Grade"
                           class="bg-sky-100 w-full text-center "
                           type="text" />
                </div>

                <div class="">
                    <label asp-for="Student.Term" class=" ml-2 block">Term</label>
                    <input asp-for="Student.Term"
                           disabled
                           class="bg-sky-100 w-full text-center "
                           type="text" />
                </div>


              
            
                <div class="sm:mb-2">
                    <label class=" ml-2 block"> Balance Due</label>
                    <input asp-for="Requirement.Balance"
                           type="number"
                           class=" w-full text-center "
                           disabled />
                </div>
            </div>
            <div class="sm:w-[45%]">
                <label class=" ml-2 block">Requirement</label>
                <select required asp-for="Requirement.RequirementId"
                        class=" w-full text-center ">
                    <option value="select">select</option>

                    @foreach (var item in Model.Requirements)
                    {

                        <option value=@item.RequirementId>
                            @item.Name
                        </option>

                    }
                </select>

                @if (Model.Requirements.Count == 0)
                {
                    <a asp-controller="Students" class="underline underline-offset-2  text-[0.82em] "  asp-route-id="0" asp-action="NewSchoolRequirement">New Requirement</a>

                }


                <div class="mb-2">
                    <label asp-for="Requirement.Amount" class=" ml-2 block"> Amount Paid</label>
                    <input asp-for="Requirement.Amount" type="number"
                           class="w-full text-center " />
                </div>

                            <div class="">
                    <label asp-for="Requirement.RecievedBy" class=" ml-2 block">  RecievedBy</label>
                    <input asp-for="Requirement.RecievedBy" type="text"
                           class="w-full text-center " />
                </div>
                <div class="sm:mb-7 mb-3">
                    <label asp-for="Requirement.Reason" class=" ml-2 block">Reason</label>
                    <input required
                           asp-for="Requirement.Reason"
                           type="text"
                           value="Shool Requirement"
                           class=" w-full text-center " />
                </div>
                <div class="text-white    w-full m-auto submit
    text-center  bg-green-700 rounded hover:bg-slate-700">
                    <input class="  px-4 uppercase text-yellow-100  w-[30%]"
                           type="submit" />
                </div>
            </div>
        </div>
    </form>
</div>