@{
    ViewData["Title"] = "Update student";
}

@model Student
<div class="flex justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500  font-bold  px-11   sm:text-[0.81em]   text-[0.61em]
 text-center sm:mb-5 lg:mb-6 ">
    <h4 class=" "> UPDATE STUDENT INFORMATION</h4>
    <a class=" text-white  bg-orange-600 px-4 rounded  " asp-controller="Students" asp-action="GetStudents">Students</a>
</div>

<form method="post" action="PromoteStudent">
    <div class="flex sm:flex-row flex-col  w-[90%] md:w-[90%] gap-6 flex-auto flex-grow-1 m-auto">
        <div class="sm:w-[45%]">
            <div class="mb-1">
                <label asp-for="FirstName" class="font-bold ml-2 block">First Name</label>
                <input disabled
                       asp-for="FirstName"
                       class=" w-full text-center"
                       type="text" />
            </div>
            <div class="mb-1">
                <label asp-for="LastName" class="font-bold  ml-2 block">Last Name</label>
                <input disabled
                       asp-for="LastName"
                       class=" w-full text-center"
                       type="text" />
            </div>
            <input hidden asp-for="StudentId"/>
            <div class="flex justify-between gap-2  w-full">
                <div class="mb-1 w-[80%]">
                    <label asp-for="Gender" class="font-bold ml-2 block">Gender</label>
                    <select required
                            asp-for="Gender"
                            class=" w-full text-center ">
                        <option value="">select</option>
                        <option>Male</option>

                        <option>Female</option>
                    </select>
                </div>
                <div class="mb-2  justify-self-end w-[50%] ">
                    <label asp-for="Birthdate" class="font-bold block ">Birth Date</label>
                    <input required
                           asp-for="Birthdate"
                           type="date"
                           class="  w-full  text-center" />
                </div>
            </div>

            <div class="flex justify-between gap-2 w-full">
                <div class="mb-1 w-[80%]">
                    <label asp-for="Contact" class="font-bold ml-2 block"> Contact</label>
                    <input required
                           asp-for="Contact"
                           class=" w-full text-center "
                           type="number" />
                </div>

                <div class="mb-2  justify-self-end w-[50%] ">
                    <label asp-for="Status" class="font-bold ml-2 block">Status</label>
                    <select required
                            asp-for="Status"
                            class=" w-full text-center ">
                        <option value="">select</option>
                        <option>Active</option>
                        <option>Former</option>
                    </select>
                </div>
            </div>

            <div class="flex justify-between gap-2 w-full">
                <div class="mb-1 w-[80%]">
                    <label asp-for="Grade" class="font-bold  ml-2 block">Class</label>

                    <select required
                            asp-for="Grade"
                            class="  w-full text-center ">
                        <option value="">select</option>
                        <option>Day care</option>
                        <option>Step-by Step</option>
                        <option>Reading Readiness</option>
                        <option>ABC</option>
                        <option>Grade One</option>
                        <option>Grade Two</option>
                        <option>Grade Three</option>
                        <option>Grade Four</option>
                        <option>Grade Five</option>
                        <option>Grade Six</option>
                    </select>
                </div>
                <div class="mb-2  justify-self-end w-[50%] ">
                    <label asp-for="Stream" class="font-bold  ml-2 block">Stream</label>

                    <select required
                            asp-for="Stream"
                            class=" w-full text-center ">
                        <option value="">select</option>
                        <option>Glorious</option>
                        <option>Precious</option>
                        <option>Gracious</option>
                    </select>
                </div>
            </div>
            <div class="flex justify-between gap-2 w-full">
                <div class="mb-1 w-[80%]">
                    <label asp-for="Section" class="font-bold ml-2 block">Section</label>
                    <select required
                            asp-for="Section"
                            class=" w-full text-center">
                        <option value="">select</option>
                        <option>Kindergarten</option>
                        <option>Lower Primary</option>
                        <option>Upper Primary</option>
                        <option>High School</option>
                    </select>
                </div>
                <div class="mb-2  justify-self-end w-[50%] ">
                    <label asp-for="Term" class="font-bold  ml-2 block">Term</label>

                    <select required
                            asp-for="Term"
                            class=" w-full text-center ">
                        <option value="">select</option>
                        <option>Term One</option>
                        <option>Term Two</option>
                        <option>Term Three</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="sm:w-[45%]">
            <div class="mb-1">
                <label asp-for="Nationality" class="font-bold ml-2 block">Nationality</label>
                <input required
                       asp-for="Nationality"
                       class=" w-full text-center " />
            </div>
            <div class="mb-1">
                <label asp-for="District" class="font-bold ml-2 block">

                    District Of Residence
                </label>
                <input required
                       asp-for="District"
                       class=" w-full text-center"
                       type="text" />
            </div>

            <div class="mb-2">
                <label asp-for="Village" class="font-bold ml-2 block">Village</label>
                <input required
                       asp-for="Village"
                       class=" w-full text-center "
                       type="text" />
            </div>
            <div class="mb-2">
                <label asp-for="Religion" class="font-bold ml-2 block">Religion</label>
                <input asp-for="Religion"
                       class=" w-full text-center "
                       type="text" />
            </div>
            <div class="flex justify-between gap-2 w-full">
                <div class="mb-1 w-[80%]">
                    <label asp-for="SchoolFees" class="font-bold ml-2 block">School Fees</label>
                    <input required
                           asp-for="SchoolFees"
                           type="number"
                           class=" w-full text-center " />
                </div>

                <div class="mb-1 w-[30%]">
                    <label asp-for="fullUniform" class="font-bold ml-2 block">Uniform</label>
                    <input type="checkbox"
                           asp-for="fullUniform"
                           class=" m-auto ml-7 w-[20%] text-sm text-center " />
                </div>
            </div>

            <div id="uniform-amount" class="mb-2  setUniform">
                <label asp -for="charge" class="font-bold ml-2 block ">
                    Uniform Charge
                </label>
                <input type="number"
                       asp-for="fullUniform" />



            </div>

            <div class="mt-3 sm:mt-7 text-white   font-bold w-full m-auto submit
    text-center  bg-green-700 rounded hover:bg-slate-700">
                <input class="  px-4 uppercase text-yellow-100  w-[30%]"
                       type="submit" />
            </div>
        </div>
    </div>



</form>