@model Notice
@{
    ViewData["Title"] = "notice";
}

<div class="flex   justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500  font-bold  px-4  m-auto  sm:text-[0.81em]   text-[0.61em]
 text-center  ">
    <a class=" text-white  bg-orange-600 px-2 rounded  "
       asp-controller="Students" asp-action="GetStudents">Students</a>

    <h4 class=" "> NOTICE FORM</h4>

    <a class=" text-white  bg-orange-600 px-2 rounded  "
       asp-controller="SchoolAffairs" asp-action="GetNotices">Notices</a>   
</div>

  <div class="w-[40%] m-auto  mt-7 requirement_form">
    <form method="post" action="CreateNotice" class="h-25  row">

          <div class="mb-1">
            <label asp-for="Title" class="font-bold text-[0.97em]  ml-2 block">Title</label>
            <input
              required
             asp-for="Title"
              placeholder="title"
              class=" w-full text-center"
              type="text"
            />
          </div>
          <div class="mb-1">
            <label asp-for="Description" class="font-bold text-[0.97em]  ml-2 block">
              Description
            </label>
           
            <textarea required
                      asp-for="Description"
                      class=" w-full  text:[0.48em] sm:text-[1.23em] py-3 text-center"></textarea>
          </div>
          <div class="mb-2">
            <label asp-for="Postedby" class="font-bold text-[0.97em]  ml-2 block">
              Posted By
            </label>
            <input
              required
            asp-for="Postedby"
              type="text"
              placeholder="poster's name"
              class=" w-full  text:[0.48em] sm:text-[1.23em] py-3 text-center"
            />
          </div>
          <div class="mb-1">
            <label asp-for="DueDate" class="font-bold text-[0.97em]  ml-2 block">
              Due Date
            </label>
            <input
              required
             asp-for="DueDate"
              type="date"
              class="  w-full  text-center"
            />
          </div>
          <div class="mt-3 text-white   font-bold w-full m-auto submit
    text-center  bg-green-700 rounded hover:bg-indigo-800">
            <input
              class="uppercase text-yellow-100  w-[20%]"
              type="submit"
            />
          </div>


    
        </form>
      </div>