@model Book 

  <div  class="flex   justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500  font-semibold  px-4  m-auto  sm:text-[0.81em]   text-[0.61em] 
 text-center" >
       
    <a class=" text-white  bg-orange-600 px-2 rounded  "
       asp-controller="Students" asp-action="GetStudents">Students</a>
        <h4 class=" "> NEW LIBRARY BOOK</h4>
    <a class=" text-white  bg-orange-600 px-2 rounded" asp-controller="SchoolAffairs" asp-action="GetAllBooks">Books</a>
 
      </div>
      <div class="w-[40%] m-auto  mt-7 requirement_form">
    <form method="post" action="Createbook" class="h-25  row">
        <div asp-validation-summary="All" class="text-red-700 text-[0.6em] font-semibold list-disc"></div>


          <div class="mb-1">
            <label asp-for="Title" class="font-semibold text-[0.97em]  ml-2 block  required_label">Title</label>
            <input asp-for="Title"
              required             
              placeholder="title"
              class=" w-full text-center"
              type="text"
            />
                        <span asp-validation-for="Title" class="text-red-700"></span>

          </div>
          <div class="mb-1">
            <label asp-for="Author" class="font-semibold text-[0.97em]  ml-2 block  required_label">
              Author
            </label>
            <input asp-for="Author"
              required            
            
              placeholder="author"
              class=" w-full  text:[0.48em] sm:text-[1.23em] py-3 text-center"
              type="text"
            />
                        <span asp-validation-for="Author" class="text-red-700"></span>

          </div>

          <div class="mb-1">
            <label asp-for="Category" class="font-semibold text-[0.97em]  ml-2 block required_label">
              Category
            </label>
            <select asp-for="Category"
              required class="  w-full text-center " >
              <option value="">select</option>
              <option>Magazine</option>
              <option>Text Book</option>
              <option>Religious</option>
              <option>Story Book</option>
              <option>Novel</option>
              <option>Other</option>
            </select>
            <span asp-validation-for="Category" class="text-red-700"></span>

          </div>
          <div
            class="mt-3 text-white   font-semibold w-full m-auto submit
    text-center  bg-green-700 rounded hover:bg-slate-700"
          >
            <input
              class="uppercase text-yellow-100    md:w-[20%] w-[50%]"
              type="submit"
            />
          </div>
        </form>
      </div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}