@model Book 



<form method="post" action="Createbook" class="h-25  row">

    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title"/>
    </div>
      <div>
        <label asp-for="Author"></label>
        <input asp-for="Author"/>
    </div>
    <div>
        <label asp-for="Category"></label>
<select asp-for="Category">
    <option>select</option>

    <option>Novel</option>
    <option>Magazine</option>
</select>    </div>

<input value="Submit" type="submit"/>



</form>