@model Asset

@{
    ViewData["Title"] = "new asset";
}
<div class="flex   justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500  font-semibold  px-4  m-auto  sm:text-[0.81em]   text-[0.61em]
 text-center  ">
    <a class=" text-white  bg-orange-600 px-2 rounded  "
       asp-controller="Students" asp-action="GetStudents">Students</a>

    <h4 class=" "> New Asset</h4>

    <a class=" text-white  bg-orange-600 px-2 rounded  "
       asp-controller="SchoolAffairs" asp-action="GetAssets">Assets</a>
</div>

<div class="w-[40%] m-auto  mt-7 requirement_form">
    <form method="post" action="CreateAsset" class="h-25  row">
        <div asp-validation-summary="All" class="text-red-700 text-[0.6em] font-semibold list-disc"></div>

        <div class="mb-1">
            <label asp-for="Name" class="font-semibold text-[0.97em]  ml-2 block  required_label">Name</label>
                <input required
                   asp-for="Name"
                placeholder="asset name"
                class=" w-full text-center"
                type="text"
                />
           <span asp-validation-for="Name" class="text-red-700"></span>
            </div>
            <div class="mb-1">
            <label asp-for="Description" class="font-semibold text-[0.97em]  ml-2 block  required_label">
                    Description
                </label>
            <input asp-for="Description"
              
                placeholder="description"
                class=" w-full  text:[0.48em] sm:text-[1.23em] py-3 text-center"
                type="text"
                />
           <span asp-validation-for="Description" class="text-red-700"></span>

            </div>
            <div class="mb-2">
            <label asp-for="AssetValue" class="font-semibold text-[0.97em]  ml-2 block  required_label">
                    Purchase value
                </label>
                <input required
                   asp-for="AssetValue"
                type="number"
                placeholder="asset value"
                class=" w-full  text:[0.48em] sm:text-[1.23em] py-3 text-center"
                />
          <span asp-validation-for="AssetValue" class="text-red-700"></span>

            </div>
            <div class="mb-1">
            <label asp-for="Supplier" class="font-semibold text-[0.97em]  ml-2 block  required_label">
                    Supplier
                </label>
                <input required
                       placeholder="supplier"
                   asp-for="Supplier"
                class=" w-full  text:[0.48em] sm:text-[1.23em] py-3 text-center"
                type="text"
                />
                                            <span asp-validation-for="Supplier" class="text-red-700"></span>

            </div>
            <div class="mb-1">
            <label asp-for="SupplierContact" class="font-semibold text-[0.97em]  ml-2 block  required_label">
                    Supplier Contact
                </label>
                <input required
                       placeholder="supplier contact"
                   asp-for="SupplierContact"
                class=" w-full  text:[0.48em] sm:text-[1.23em] py-3 text-center"
                type="text"
                />
                     <span asp-validation-for="SupplierContact" class="text-red-700"></span>

            </div>
            <div class="mt-3 text-white   font-semibold w-full m-auto submit
    text-center  bg-green-700 rounded hover:bg-indigo-800">
            <input class="uppercase text-yellow-100  md:w-[20%]  w-[60%]"
                       type="submit" />
            </div>

    

        </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}