@model PettyCash

@{
    ViewData["Title"] = "new expense";
}
<div class="flex   justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500    px-4  m-auto  sm:text-[0.81em]   text-[0.61em]
 text-center  ">
    <a class=" text-white  bg-orange-600 px-2 rounded  "
       asp-controller="Students" asp-action="GetStudents">Students</a>

    <h4 class=" "> NOTICE FORM</h4>

    <a class=" text-white  bg-orange-600 px-2 rounded  "
       asp-controller="SchoolAffairs" asp-action="GetNotices">Notices</a>
</div>

<div class="w-[40%] m-auto  mt-7 requirement_form">
    <form method="post" action="CreateExpense" class="h-25  row">

        <div asp-validation-summary="All" class="text-red-700 text-[0.6em]  list-disc"></div>       
            <div class="mb-1">
            <label asp-for="Category" class=" text-[0.97em]  ml-2 block  required_label">
                    Category
                </label>
                <select required
                    asp-for="Category"
                    class="  w-full text-center "
                    >
                    <option value="">select</option>
                    <option>Utility</option>
                    <option>Allowance</option>
                    <option>Food/Refreshements</option>
                    <option>Other</option>
                </select>
      <span asp-validation-for="Category" class="text-red-700"></span>

            </div>
            <div class="mb-1">
            <label asp-for="Description" class=" text-[0.97em]  ml-2 block  required_label">
                    Description
                </label>
                <input required
                       placeholder=" description"
                   asp-for="Description"
                class=" w-full  text:[0.48em] sm:text-[1.23em] py-3 text-center"
                type="text"
                />
                                    <span asp-validation-for="Description" class="text-red-700"></span>

            </div>
            <div class="mb-2">
            <label asp-for="Amount" class=" text-[0.97em]  ml-2 block  required_label">
                    Amount
                </label>
                <input required
                   asp-for="Amount"
                type="number"
                placeholder="charge"
                class=" w-full  text:[0.48em] sm:text-[1.23em] py-3 text-center"
                />
                                    <span asp-validation-for="Amount" class="text-red-700"></span>

            </div>
            <div class="mb-1">
            <label asp-for="PaidBy" class=" text-[0.97em]  ml-2 block  required_label">
                    Paid By
                </label>
                <input required
                       placeholder="your name"
                   asp-for="PaidBy"
                class=" w-full  text:[0.48em] sm:text-[1.23em] py-3 text-center"
                type="text"
                />
                                    <span asp-validation-for="PaidBy" class="text-red-700"></span>

            </div>
            <div class="mb-1">
            <label asp-for="RecievedBy" class=" text-[0.97em]  ml-2 block">
                    Recieved By
                </label>
                <input required
                       placeholder="reciever's name"
                   asp-for="RecievedBy"
                class=" w-full  text:[0.48em] sm:text-[1.23em] py-3 text-center"
                type="text"
                />
            </div>

     

        <div class="mt-3 sm:mt-8 text-white    w-full m-auto submit
    text-center  bg-green-700 rounded hover:bg-indigo-800">
            <input class="  px-4 uppercase text-yellow-100  md:w-[20%] w-[60%]"
                   type="submit" />
        </div>
        </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}