@model ICollection<Book> 
<h3>Books</h3>
    <div>
    @foreach(var book in Model)
    {
        <h1>@book.Title</h1
            <h4>@book.Author</h4>
                        <h4>@book.Category</h4>

    }
</div>