@{
    ViewData["Title"] = "Home Page";
}


<div id="home_page" class="">

    <div class="flex justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500  font-bold  px-11   sm:text-[0.81em]   text-[0.61em]
 text-center ">

        <a class=" text-white  bg-orange-600 px-4 rounded  " asp-controller="Login" asp-action="Login">Login</a>

        <h4 class="uppercase"> Welcome to  Victors Nest christain school</h4>
    </div>
