@{
    ViewData["Title"] = "Home Page";
}


<div id="home_page" class="">

    <div class="flex justify-between font-poppins   bg-zinc-900 py-2 w-full text-yellow-500  font-bold  px-11   sm:text-[0.81em]   text-[0.61em]
 text-center ">


        <h4 class="uppercase w-full text-center"> Welcome to  Victors Nest christain school</h4>
    </div>
    </div>