

html {
    font-size: clamp(13px, 1.01vw, calc(11px * 0.2));
    color: rgba(248,238,255,0.8);
    font-family: Tahoma;
}

a {
    color: blue;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

    a:hover {
        color: rgb(155, 43, 43);
    }

.loader {
    color: red;
    background-color: #022019;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 74vh;
}
#home_page {
    height: 100vh;
    width: 100vw;
    background-color: #042f2e;
   overflow:clip;
   overflow-x:clip;overflow-y:hidden;
  
}

.login_li a{
    color:white;
    text-transform:uppercase;
}
/*.home {
    background: url("assets/building.jpg") no-repeat fixed center;
}*/
body {
    /* background-color: #042f2e; */
    background-color: white;
    color: #022c22;
    /* color: rgb(245, 222, 179); */
    margin: 0;
    padding: 0;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(9,9,121,1) 40%,rgba(2,0,36,1) 50%,rgba(9,9,121,1) 100%); */
}

.required_label::after {
    content: "*";
    color: red;
    display: inline;
    width:10px;
    height:10px;
    margin-left:10px;
}
textarea {
    background-color: rgb(230, 237, 241);
}
.login_form{
    width:40%;
    margin:auto;
}
.login_form label{
    font-weight:bolder;
}
input,
select {
    height: 1.85em;
    border-radius: 4px;
    background-color: #e5e7e4;
    color: #1e293b;
    font-weight: 600;
    font-size: 0.95em;
    margin-bottom: 0.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
    font-size: 0.96rem;
    color: #292524;
    margin-bottom: 0.1em;
    font-weight: 200;
}

thead {
    font-size: 1.2rem;
    text-transform: capitalize;
}

th,
td,
.access_link,td a {
    padding: 0 4px;
    text-align: left;
    /* color: #022c22; */
    color: #022019;
    text-decoration: none;
    text-transform:capitalize;
}


.access_link {
    text-transform: none;
}

tr:nth-child(even) {
    background-color: rgb(247, 247, 247);
}

tr:nth-child(odd) {
    background-color: rgb(173, 165, 165);
}

tr > th {
    width: max-content;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(212 212 212);
}

tr:hover {
    background-color: rgb(141, 126, 106);
}

input:disabled {
    background-color: rgb(45, 82, 4);
    color: rgb(254 249 195);
    font-weight: bold;
}

td,
.std_details {
    font-weight: 400;
}

option {
    text-align: left;
    padding-top: 4px;
}

nav a {
    color: #fef9c3;
    text-transform: capitalize;
}

nav div {
    margin-bottom: 0.45em;
    background-color: rgb(4, 43, 44);
    border: 2px solid wheat;
    border-radius: 2em;
}

option:first-child {
    text-align: center;
}

p {
    font-weight: 700;
    font-size: 0.94rem;
}

span {
    font-weight: 500;
    font-size: 0.94rem;
    margin-left: 0.42em;
}
.setUniform{
    display:none;
}

.submit {
    border-radius: 3px;
}

    .submit input {
        border-radius: 3px;
        background-color: rgb(21 28 61);
        font-size:0.99rem;
        padding: 0;
        margin: 0;
    }

.search_form input,
.search_form button {
    font-size: 0.84rem;
    height: 100%;
}

input::placeholder {
    color: rgb(179, 201, 201);
    text-align: center;
}

.login_form input,
.login_form select,
.pettycash_form input,
.pettycash_form select,
.requirement_form input,
.requirement_form select {
    font-size: 0.94rem;
    font-weight: 600;
}

.login_form label {
    font-size: 0.94rem;
    font-weight: 400;
}

.notify {
    background-color: rgb(168, 12, 33);
    width: max-content;
    padding: 3px 10px;
    color: white;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.devol {
    background-color: rgb(19, 141, 8);
    width: max-content;
    padding: 3px 10px;
    color: white;
    margin: 10px auto;
}

.hide_notify {
    display: none;
}

.student_data,
.student_payments {
    border-radius: 7px;
    padding-left: 0.9em;
}

.student_details {
    font-size: 0.9812rem;
    font-family: sans-serif;
}

.data {
    font-size: 0.8812rem;
}

.side_menu {
    background-color: rgb(8 51 68);
}

.student_guardians {
    background-color: rgb(8 51 68);
    height: 100%;
}

.std_details div p {
    font-weight: 500;
}

.std_details div {
    margin: 0.23em;
}

.pie a {
    display: none;
}

#dark_reader_root {
    background-color: red;
    /* display: none; */
}

td a, td a span {
    font-size: 0.94rem;
}
@media (max-width: 640px) {
    thead {
        text-transform: capitalize;
        letter-spacing: normal;
    }

    .table_hide {
        display: none;
    }

    td,
    .access_link {
        /*        font-size: 10px;
    }*/
    }
}

@media (min-width: 640px) {
    thead {
/*        font-size: 12px;
*/
        text-transform: capitalize;
        letter-spacing: normal;
    }

    td,
    .access_link {
        /*font-size: 11px;*/
        /* color: red; */
    }
}

@media (min-width: 1200px) {
    thead {
/*        font-size: 15px;
        text-transform: capitalize;*/
        letter-spacing: normal;
    }

    td,
    .access_link {
        font-size: 13px;
    }

    .search_form input,
    .search_form button {
        /* font-size: 0.81124em; */
        height: 100%;
    }
}

@media (min-width: 1300px) {
    thead {
        /*        font-size: 19px;
        text-transform: capitalize;*/
        letter-spacing: normal;
    }

    td,
    .access_link {
        /*        font-size: 15px;
    }*/
    }
}
#header-vistor {
    margin-left: 1.5em;
}