@model Notice
@{
    ViewData["Title"] = "notice";
}
@{
    Layout = "~/Views/Shared/_WebFeedBack.cshtml";
}

<div class="flex justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500 hidden  font-bold  px-11   sm:text-[0.81em]   text-[0.61em]
 text-center sm:mb-5 lg:mb-11 ">
   


</div>


<

<div class="w-[40%] m-auto  mt-7 requirement_form">
    <form method="post" action="CreateNoticeFromWeb"  class="h-25  row">

        <div class="mb-1">
            <label asp-for="Title" class="font-bold text-[0.97em]  ml-2 block">Title</label>
            <input required
                   asp-for="Title"
                   placeholder="title"
                   class=" w-full text-center"
                   type="text" />
        </div>
        <div class="mb-1">
            <label asp-for="Description" class="font-bold text-[0.97em]  ml-2 block">
                Description
            </label>

            <textarea required
                      asp-for="Description"
                      class=" w-full  text:[0.48em] sm:text-[1.23em] py-3 text-center"></textarea>
        </div>
      
    
        <div class="mt-3 text-white   font-bold w-full m-auto submit
    text-center  bg-green-700 rounded hover:bg-indigo-800">
            <input class="uppercase text-yellow-100  w-[20%]"
                   type="submit" />
        </div>



    </form>
</div>