@model Student


<form method="post" action="PostStudent" class="h-25  row">

 
          <div className="flex sm:flex-row flex-col  w-[90%] md:w-[90%] gap-6 flex-auto flex-grow-1 m-auto">
            <div className="sm:w-[45%]">
              <div className="mb-1">
                <label  asp-for="FirstName" className="font-bold ml-2 block">First Name</label>
                <input
                    required
               asp-for="FirstName"
                  className=" w-full text-center"
                  type="text"
                />
              </div>
              <div className="mb-1">
                <label asp-for="LastName" className="font-bold  ml-2 block">Last Name</label>
                <input required
                       asp-for="LastName"
                       className=" w-full text-center"
                       type="text" />
              </div>

              <div className="flex justify-between gap-2  w-full">
                <div className="mb-1 w-[80%]">
                  <label asp-for="Gender" className="font-bold ml-2 block">Gender</label>
                  <select
                    required
                   asp-for="Gender"
                   className=" w-full text-center "
                  >
                    <option value="">select</option>
                    <option>Male</option>

                    <option>Female</option>
                  </select>
                </div>
                <div className="mb-2  justify-self-end w-[50%] ">
                  <label asp-for="Birthdate" className="font-bold block ">Birth Date</label>
                  <input
                    required
                   asp-for="Birthdate"                    
                    type="date"
                    className="  w-full  text-center"
                  />
                </div>
              </div>
              <div className="flex justify-between gap-2 w-full">
                <div className="mb-1 w-[80%]">
                  <label asp-for="Grade" className="font-bold  ml-2 block">Class</label>

                  <select
                    required
                    asp-for="Grade"
                    className="  w-full text-center "
                  >
                    <option value="">select</option>
                    <option>Day care</option>
                    <option>Step-by Step</option>
                    <option>Reading Readiness</option>
                    <option>ABC</option>
                    <option>Grade One</option>
                    <option>Grade Two</option>
                    <option>Grade Three</option>
                    <option>Grade Four</option>
                    <option>Grade Five</option>
                    <option>Grade Six</option>
                  </select>
                </div>
                <div className="mb-2  justify-self-end w-[50%] ">
                  <label asp-for="Stream" className="font-bold  ml-2 block">Stream</label>

                  <select
                    required
                   asp-for="Stream"
                    className=" w-full text-center "
                  >
                    <option value="">select</option>
                    <option>Glorious</option>
                    <option>Precious</option>
                    <option>Gracious</option>
                  </select>
                </div>
              </div>
              <div className="flex justify-between gap-2 w-full">
                <div className="mb-1 w-[80%]">
                  <label  asp-for="Section" className="font-bold ml-2 block">Section</label>
                  <select
                    required
                  asp-for="Section"
                    className=" w-full text-center"
                  >
                    <option value="">select</option>
                    <option>Kindergarten</option>
                    <option>Lower Primary</option>
                    <option>Upper Primary</option>
                    <option>High School</option>
                  </select>
                </div>
                <div   className="mb-2  justify-self-end w-[50%] ">
                  <label asp-for="Term" className="font-bold  ml-2 block">Term</label>

                  <select
                    required
                  asp-for="Term"
                    className=" w-full text-center "
                  >
                    <option value="">select</option>
                    <option>Term One</option>
                    <option>Term Two</option>
                    <option>Term Three</option>
                  </select>
                </div>
              </div>
              <div className="flex justify-between gap-2 w-full">
                <div   className="mb-1 w-[80%]">
                  <label asp-for="Contact" className="font-bold ml-2 block"> Contact</label>
                  <input
                    required                    
                   asp-for="Contact"
                    className=" w-full text-center "
                    type="number"
                  />
                </div>

                <div className="mb-2  justify-self-end w-[50%] ">
                  <label asp-for="Status" className="font-bold ml-2 block">Status</label>
                  <select
                    required
                   asp-for="Status"
                    className=" w-full text-center "
                  >
                    <option value="">select</option>
                    <option>Active</option>
                    <option>Former</option>
                  </select>
                </div>
              </div>
            </div>
            <div className="sm:w-[45%]">
              <div className="mb-1">
                <label asp-for="Nationality" className="font-bold ml-2 block">Nationality</label>
                <input
                  required
                       asp-for="Nationality"
                  className=" w-full text-center "
                />
              </div>
              <div className="mb-1">
                <label  asp-for="District" className="font-bold ml-2 block">
                
                  District Of Residence
                </label>
                <input
                  required
                       asp-for="District"
                  className=" w-full text-center"
                  type="text"
                />
              </div>

              <div className="mb-2">
                <label asp-for="Village" className="font-bold ml-2 block">Village</label>
                <input
                  required
                       asp-for="Village"
                  className=" w-full text-center "
                  type="text"
                />
              </div>
              <div className="mb-2">
                <label asp-for="Religion" className="font-bold ml-2 block">Religion</label>
                <input asp-for="Religion"
                  className=" w-full text-center "
                  type="text"
                />
              </div>
              <div className="flex justify-between gap-2 w-full">
                <div className="mb-1 w-[80%]">
                    <label asp-for="SchoolFees" className="font-bold ml-2 block">School Fees</label>
                  <input
                    required
                           asp-for="SchoolFees"
                    type="number"
                    className=" w-full text-center "
                  />
                </div>

                <div className="mb-1 w-[30%]">
                    <label asp-for="fullUniform" className="font-bold ml-2 block">Uniform</label>
                  <input
                    type="checkbox"
                           asp-for="fullUniform"
                    className=" m-auto ml-7 w-[20%] text-sm text-center "
                  />
                </div>
              </div>

              <div className="mb-2">
                {fullUniform ? (
                  <div className="mb-2">
                    <label asp-for="charge" className="font-bold ml-2 block ">
                      Uniform Charge
                    </label>
                    <input
                      type="number"
                           asp-for="fullUniform" />
                  </div>
                ) : (
                  ""
                )}
              </div>

              <div
                className="mt-3 sm:mt-8 text-white   font-bold w-full m-auto submit
    text-center  bg-green-700 rounded hover:bg-slate-700"
              >
                <input
                  className="uppercase text-yellow-100  w-[20%]"
                  type="submit"
                />
              </div>
            </div>
          </div>



</form>